<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Proveedor" %><br />
	<%= select("producto", "proveedor_id", Proveedor.all.collect {|p| [ p.nombre, p.id ] }, {:include_blank => 'Ninguno'}) %>
  </div>
  <div class="field">
    <%= f.label :"Categoria Producto" %><br />
	<%= select("producto", "categoria_producto_id", CategoriaProducto.all.collect {|p| [ p.nombre, p.id ] }, {:include_blank => 'Ninguno'}) %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :ingrediente_activo %><br />
    <%= f.text_field :ingrediente_activo %>
  </div>
  <div class="field">
    <%= f.label "Concentracion Ingrediente Activo" %><br />
    <%= f.text_field :concentracion_ing_activo %>
  </div>
  <div class="field">
    <%= f.label "Tipo Formulacion" %><br />
    <%= f.text_field :tipo_formula %>
  </div>
  <div class="field">
    <%= f.label "Cantidad Unitaria" %><br />
    <%= f.text_field :cantidad_unitaria %>
  </div>
  <div class="field">
    <%= f.label "Unidad" %><br />
    <%= f.text_field :unidad %>
  </div>
  <div class="field">
    <%= f.label "Empaque Unitario" %><br />
    <%= f.text_field :empaque_unitario %>
  </div>  
  <div class="field">
    <%= f.label :precio %><br />
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :precio_unitario %><br />
    <%= f.text_field :precio_unitario %>
  </div>
  <div class="field">
    <%= f.label "Ultima Actualizacion" %><br />
    <%= f.text_field :ultimo_update %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.check_box :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
