<h1>Listing productos</h1>
<%= link_to 'Importar', importar_productos_path %>
<%= link_to 'New Producto', new_producto_path %>
<table>
  <tr>
    <th><%= sortable_column "Proveedor", :column => "proveedor_id" %></th>
    <th><%= sortable_column "Categoria Producto", :column => "categoria_producto_id" %></th>
    <th><%= sortable_column "Nombre" %></th>
    <th><%= sortable_column "Ingrediente activo" %></th>
    <th><%= sortable_column "Concentracion Ing. activo", :column => "concentracion_ing_activo" %></th>
    <th><%= sortable_column "Tipo Formulacion", :column => "tipo_formula" %></th>
    <th><%= sortable_column "Cantidad Unitaria" %></th>	
    <th><%= sortable_column "Unidad" %></th>	
    <th><%= sortable_column "Empaque Unitario" %></th>	
    <th><%= sortable_column "Precio" %></th>
    <th><%= sortable_column "Precio Unitario" %></th>	
    <th><%= sortable_column "Ultima Actualizacion", :column => "ultimo_update" %></th>
    <th><%= sortable_column "Estado" %></th>
    <th colspan="3">Opciones</th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
	<td> 
				<!-- URGENTE SACAR ESTAS DOS CONSULTAS DE ACA!!!!! deben irse al controller en el index action -->
				<% if(false) %>
		<% if(producto.proveedor)%>
		<%= producto.proveedor.nombre %>
		<% end %>
	</td>
    <td>
		<% if(producto.categoria_producto)%>
		<%= producto.categoria_producto.nombre %>
		<% end %>
				<% end %>
					
	</td>
	<td></td>
    <td><%= producto.nombre %></td>
    <td><%= producto.ingrediente_activo %></td>
    <td><%= producto.concentracion_ing_activo %></td>
    <td><%= producto.tipo_formula %></td>
    <td><%= producto.cantidad_unitaria %></td>
	<td><%= producto.unidad %></td>
    <td><%= producto.empaque_unitario %></td>	
    <td><%= producto.precio %></td>
    <td><%= producto.precio_unitario %></td>	
    <td><%= producto.ultimo_update %></td>
    <td><%= producto.estado %></td>
    <td><%= link_to 'Show', producto %></td>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div class="digg_pagination">
	<%= will_paginate @productos %>
</div>
