<h1>Listing productos</h1>
<%= link_to 'Importar', importar_productos_path %>
<%= link_to 'New Producto', new_producto_path %>
<div>
	<%= form_tag productos_path, method: :get do %>
  		<p>
    		<%= text_field_tag :query, params[:query] %>
			<%= submit_tag "Buscar", name: nil %>
  	  	</p>
	<% end %>
</div>
<table>
  <tr>
    <th><%= order_colunm "proveedor_id" ,"Proveedor"%></th>
    <th><%= order_colunm  "categoria_producto_id",  "Categoria Producto" %></th>
    <th><%=  order_colunm "nombre", "Nombre" %></th>
    <th><%=  order_colunm "ingrediente_activo","Ingrediente activo" %></th>
    <th><%=  order_colunm "concentracion_ing_activo","Concentracion Ing. activo" %></th>
    <th><%=  order_colunm "tipo_formula","Tipo Formulacion"%></th>
    <th><%=  order_colunm "cantidad_unitaria","Cantidad Unitaria" %></th>	
    <th><%=  order_colunm "unidad","Unidad" %></th>	
    <th><%=  order_colunm "empaque_unitario","Empaque Unitario" %></th>	
    <th><%=  order_colunm "precio","Precio" %></th>
    <th><%=  order_colunm "precio_unitario","Precio Unitario" %></th>	
    <th><%=  order_colunm "ultimo_update","Ultima Actualizacion" %></th>
    <th><%=  order_colunm "estado","Estado" %></th>
    <th colspan="3">Opciones</th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
	<td> 
				<!-- URGENTE SACAR ESTAS DOS CONSULTAS DE ACA!!!!! deben irse al controller en el index action -->
				<% if(false) %>
		<% if(producto.proveedor)%>
		<%= producto.proveedor.nombre %>
		<% end %>
	</td>
    <td>
		<% if(producto.categoria_producto)%>
		<%= producto.categoria_producto.nombre %>
		<% end %>
				<% end %>
					
	</td>
	<td></td>
    <td><%= producto.nombre %></td>
    <td><%= producto.ingrediente_activo %></td>
    <td><%= producto.concentracion_ing_activo %></td>
    <td><%= producto.tipo_formula %></td>
    <td><%= producto.cantidad_unitaria %></td>
	<td><%= producto.unidad %></td>
    <td><%= producto.empaque_unitario %></td>	
    <td><%= producto.precio %></td>
    <td><%= producto.precio_unitario %></td>	
    <td><%= producto.ultimo_update %></td>
    <td><%= producto.estado %></td>
    <td><%= link_to 'Show', producto %></td>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div class="digg_pagination">
	<%= will_paginate @productos %>
</div>
