<p id="notice"><%= notice %></p>

<p>
  <b>Id proveedor:</b>
  <%= @producto.proveedor_id %>
</p>

<p>
  <b>Id categoria producto:</b>
  <%= @producto.categoria_producto_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Ingrediente activo:</b>
  <%= @producto.ingrediente_activo %>
</p>

<p>
  <b>Concentracion ing activo:</b>
  <%= @producto.concentracion_ing_activo %>
</p>

<p>
  <b>Tipo Formulacion:</b>
  <%= @producto.tipo_formula %>
</p>

<p>
  <b>Cantidad Unitaria:</b>
  <%= @producto.cantidad_unitaria %>
</p>

<p>
  <b>Empaque Unitario:</b>
  <%= @producto.empaque_unitario %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto.precio %>
</p>

<p>
  <b>Precio Unitario:</b>
  <%= @producto.precio_unitario %>
</p>

<p>
  <b>Ultima Actualizacion:</b>
  <%= @producto.ultimo_update %>
</p>

<p>
  <b>Estado:</b>
  <%= @producto.estado %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
