<ul>
	<li class="active"><%= link_to 'Home', root_path %></li>
	
	<li><a href="#">Precios</a></li>
	<%= render 'devise/menu/registration_items' %>
	<%= render 'devise/menu/login_items' %>
	<li><%= link_to 'Empresa', empresas_path %></li>
	<li><%= link_to 'Proveedor', proveedors_path %></li>				
</ul>