<ul>
	<li class="active"><%= link_to 'Home', root_path %></li>

	<li><%= link_to 'Usuarios', usuarios_path %></li>
	<li><%= link_to 'Empresa', empresas_path %></li>
	<li><%= link_to 'Productos', productos_path %></li>	
	<li><%= link_to 'Categoria Productos', categoria_productos_path %></li>	
	<li><%= link_to 'Proveedor', proveedors_path %></li>	
	<%= render 'devise/menu/registration_items' %>
	<%= render 'devise/menu/login_items' %>
				
</ul>